# 2024 Data

Now that the 2024 NBA regular season has concluded, I will be using the model to predict who the MVP will be. This notebook will be used to gather the data. Since this is only one year's worth of data, I will not be using web scraping to get the data, as the data can easily be downloaded as a csv file from Basketball Reference.

In [1]:
#Import libraries
import pandas as pd

# Player Data

In [2]:
#Import and view data
playerData = pd.read_csv('/Users/natefarber/Desktop/Projects/MVP Project/PlayerStats.csv')
playerData.head(5)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Precious Achiuwa,PF-C,24,TOT,74,18,21.9,3.2,6.3,...,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6,achiupr01
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7,achiupr01
2,1,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,...,2.9,4.3,7.2,1.1,0.6,1.1,1.1,2.1,7.6,achiupr01
3,2,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,...,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3,adebaba01
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,...,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8,agbajoc01

In [3]:
#Delete unwanted columns
del playerData['Rk']
del playerData['Player-additional']

In [4]:
#Remove * if any
playerData['Player'] = playerData['Player'].str.rstrip('*')

In [5]:
playerData['Player'].value_counts()

Player
Mike Muscala          4
Dylan Windler         4
Kenneth Lofton Jr.    4
Kira Lewis Jr.        4
Danilo Gallinari      4
                     ..
Shaquille Harrison    1
Tobias Harris         1
Kevon Harris          1
Joe Harris            1
Ivica Zubac           1
Name: count, Length: 572, dtype: int64

In [6]:
#Fix duplicate players (players traded mid season)
playerData = playerData.groupby("Player").apply(lambda df: df if df.shape[0] == 1 else df[df["Tm"].eq("TOT")].assign(Tm=df.iloc[-1]["Tm"]))

/var/folders/gg/1408gykx50d9d1h_6m7hsl480000gn/T/ipykernel_20755/1459728464.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  playerData = playerData.groupby("Player").apply(lambda df: df if df.shape[0] == 1 else df[df["Tm"].eq("TOT")].assign(Tm=df.iloc[-1]["Tm"]))

In [7]:
playerData['Player'].value_counts()

Player
A.J. Green               1
Malik Williams           1
Malachi Flynn            1
Malaki Branham           1
Malcolm Brogdon          1
                        ..
Giannis Antetokounmpo    1
Georges Niang            1
Gary Trent Jr.           1
Gary Payton II           1
Zion Williamson          1
Name: count, Length: 572, dtype: int64

In [8]:
playerData.head(5)

,,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,,
A.J. Green,250,A.J. Green,SG,24,MIL,56,0,11.0,1.5,3.5,0.423,...,0.895,0.2,1.0,1.1,0.5,0.2,0.1,0.2,0.9,4.5
A.J. Lawson,367,A.J. Lawson,SG,23,DAL,42,0,7.4,1.3,2.9,0.446,...,0.652,0.3,0.9,1.2,0.5,0.2,0.1,0.3,0.5,3.2
AJ Griffin,257,AJ Griffin,SF,20,ATL,20,0,8.6,0.9,3.1,0.290,...,1.000,0.1,0.8,0.9,0.3,0.1,0.1,0.4,0.3,2.4
Aaron Gordon,245,Aaron Gordon,PF,28,DEN,73,73,31.5,5.5,9.8,0.556,...,0.658,2.4,4.1,6.5,3.5,0.8,0.6,1.4,1.9,13.9
Aaron Holiday,294,Aaron Holiday,PG,27,HOU,78,1,16.3,2.4,5.3,0.446,...,0.921,0.3,1.3,1.6,1.8,0.5,0.1,0.7,1.6,6.6

In [9]:
#Fix index and view
playerData.index = playerData.index.droplevel()
playerData.head(5)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
250,A.J. Green,SG,24,MIL,56,0,11.0,1.5,3.5,0.423,...,0.895,0.2,1.0,1.1,0.5,0.2,0.1,0.2,0.9,4.5
367,A.J. Lawson,SG,23,DAL,42,0,7.4,1.3,2.9,0.446,...,0.652,0.3,0.9,1.2,0.5,0.2,0.1,0.3,0.5,3.2
257,AJ Griffin,SF,20,ATL,20,0,8.6,0.9,3.1,0.290,...,1.000,0.1,0.8,0.9,0.3,0.1,0.1,0.4,0.3,2.4
245,Aaron Gordon,PF,28,DEN,73,73,31.5,5.5,9.8,0.556,...,0.658,2.4,4.1,6.5,3.5,0.8,0.6,1.4,1.9,13.9
294,Aaron Holiday,PG,27,HOU,78,1,16.3,2.4,5.3,0.446,...,0.921,0.3,1.3,1.6,1.8,0.5,0.1,0.7,1.6,6.6

# Team Stats

In [10]:
#Import and view DF
teamData = pd.read_csv('/Users/natefarber/Desktop/Projects/MVP Project/teamStats.csv', header=0, skiprows=1)
teamData['Year'] = 2024
teamData.head(30)

,Rk,Team,Overall,Home,Road,E,W,A,C,SE,...,≤3,≥10,Oct,Nov,Dec,Jan,Feb,Mar,Apr,Year
0,1,Boston Celtics,64-18,37-4,27-14,41-11,23-7,15-2,13-5,13-4,...,6-7,42-5,3-0,11-4,12-2,11-5,9-1,12-4,6-2,2024
1,2,Denver Nuggets,57-25,33-8,24-17,24-6,33-19,8-2,8-2,8-2,...,6-6,28-10,4-0,9-6,10-5,10-5,8-3,11-4,5-2,2024
2,3,Oklahoma City Thunder,57-25,33-8,24-17,21-9,36-16,6-4,6-4,9-1,...,6-3,32-10,3-1,9-5,10-3,11-6,8-3,11-4,5-3,2024
3,4,Minnesota Timberwolves,56-26,30-11,26-15,19-11,37-15,6-4,6-4,7-3,...,7-6,32-10,1-2,13-2,10-3,10-7,8-3,9-6,5-3,2024
4,5,Los Angeles Clippers,51-31,25-16,26-15,21-9,30-22,6-4,6-4,9-1,...,6-4,28-17,3-1,5-9,11-2,12-3,6-5,10-7,4-4,2024
5,6,Dallas Mavericks,50-32,25-16,25-16,19-11,31-21,6-4,3-7,10-0,...,5-2,31-21,3-0,8-6,8-8,7-8,8-3,11-4,5-3,2024
6,7,New York Knicks,50-32,27-14,23-18,35-17,15-15,12-5,11-7,12-5,...,4-3,32-16,2-2,9-5,6-8,14-2,4-8,9-5,6-2,2024
7,8,Milwaukee Bucks,49-33,31-11,18-22,34-18,15-15,12-6,10-7,12-5,...,4-6,25-16,2-1,11-5,11-2,8-8,7-5,8-6,2-6,2024
8,9,New Orleans Pelicans,49-33,21-19,28-14,19-11,30-22,8-2,5-5,6-4,...,1-7,32-18,2-1,8-8,9-5,8-7,8-4,10-4,4-4,2024
9,10,Phoenix Suns,49-33,25-16,24-17,20-10,29-23,4-6,8-2,8-2,...,8-6,29-14,2-2,9-5,6-8,11-5,7-4,8-7,6-2,2024
10,11,Cleveland Cavaliers,48-34,26-15,22-19,31-21,17-13,9-8,11-5,11-8,...,9-5,24-16,1-3,9-6,8-5,11-2,9-4,7-10,3-4,2024
11,12,Indiana Pacers,47-35,26-15,21-20,32-20,15-15,10-8,11-6,11-6,...,6-5,30-16,2-1,7-7,8-6,10-7,7-5,8-7,5-2,2024
12,13,Los Angeles Lakers,47-35,28-14,19-21,20-10,27-25,6-4,8-2,6-4,...,11-4,20-25,2-2,9-7,6-8,7-8,9-3,9-5,5-2,2024
13,14,Orlando Magic,47-35,29-12,18-23,32-20,15-15,9-8,14-5,9-7,...,6-9,27-20,2-2,11-3,6-8,6-10,9-3,9-5,4-4,2024
14,15,Philadelphia 76ers,47-35,25-16,22-19,31-21,16-14,8-8,8-9,15-4,...,3-4,27-18,2-1,10-5,10-4,7-7,4-8,7-10,7-0,2024
15,16,Golden State Warriors,46-36,21-20,25-16,20-10,26-26,7-3,5-5,8-2,...,4-11,24-12,3-1,6-9,6-7,5-7,11-3,9-7,6-2,2024
16,17,Miami Heat,46-36,22-19,24-17,32-20,14-16,8-10,11-7,13-3,...,8-4,21-15,1-3,10-5,8-5,6-10,8-3,8-7,5-3,2024
17,18,Sacramento Kings,46-36,24-17,22-19,16-14,30-22,5-5,5-5,6-4,...,6-5,26-19,2-1,8-6,9-5,8-7,6-6,10-6,3-5,2024
18,19,Houston Rockets,41-41,27-14,14-27,13-17,28-24,3-7,5-5,5-5,...,8-5,23-17,0-3,8-5,7-7,7-10,3-9,13-2,3-5,2024
19,20,Chicago Bulls,39-43,20-21,19-22,22-29,17-14,5-12,7-9,10-8,...,6-8,12-25,2-2,4-12,9-5,8-7,5-5,8-8,3-4,2024
20,21,Atlanta Hawks,36-46,21-20,15-26,22-30,14-16,8-11,6-11,8-8,...,9-6,15-21,2-2,7-7,4-10,7-8,6-6,8-7,2-6,2024
21,22,Brooklyn Nets,32-50,20-21,12-29,24-28,8-22,5-11,8-9,11-8,...,4-6,17-28,1-2,8-7,6-9,4-10,4-8,6-10,3-4,2024
22,23,Utah Jazz,31-51,21-20,10-31,15-15,16-36,5-5,5-5,5-5,...,5-8,15-33,1-3,5-10,8-6,10-6,3-8,2-13,2-5,2024
23,24,Memphis Grizzlies,27-55,9-32,18-23,13-18,14-37,3-7,6-5,4-6,...,6-3,11-31,0-4,4-9,6-9,8-7,2-10,4-11,3-5,2024
24,25,Toronto Raptors,25-57,14-27,11-30,18-34,7-23,1-15,8-9,9-10,...,5-10,10-30,1-3,8-7,3-10,5-10,5-7,1-14,2-6,2024
25,26,San Antonio Spurs,22-60,12-29,10-31,8-23,14-37,3-7,3-8,2-8,...,5-7,12-31,2-2,1-13,2-12,5-11,2-10,6-9,4-3,2024
26,27,Charlotte Hornets,21-61,11-30,10-31,14-38,7-23,4-14,4-14,6-10,...,7-3,5-43,1-2,5-9,1-12,3-13,5-8,3-12,3-5,2024
27,28,Portland Trail Blazers,21-61,11-30,10-31,13-17,8-44,5-5,5-5,3-7,...,5-6,5-38,1-3,5-9,3-10,6-11,0-9,4-13,2-6,2024
28,29,Washington Wizards,15-67,7-34,8-33,11-41,4-26,2-17,5-12,4-12,...,4-5,6-35,1-2,2-13,3-11,3-12,0-12,5-11,1-6,2024
29,30,Detroit Pistons,14-68,7-33,7-35,10-41,4-27,3-14,2-14,5-13,...,1-7,8-39,2-2,0-15,1-12,3-12,3-8,4-12,1-7,2024

In [11]:
#Filter to columns of interest
teamData = teamData[['Team', 'Overall', 'Year']]
teamData.head(5)

                     Team Overall  Year
0          Boston Celtics   64-18  2024
1          Denver Nuggets   57-25  2024
2   Oklahoma City Thunder   57-25  2024
3  Minnesota Timberwolves   56-26  2024
4    Los Angeles Clippers   51-31  2024

In [12]:
#Wins column
teamData['Wins'] = teamData['Overall'].apply(lambda x: int(x.split('-')[0]))
#Losses column
teamData['Losses'] = teamData['Overall'].apply(lambda x: int(x.split('-')[1]))
#Win percentage column
teamData['W%'] = round(teamData['Wins'] / (teamData['Wins'] + teamData['Losses']), 5)

In [13]:
teamData.head(5)

                     Team Overall  Year  Wins  Losses       W%
0          Boston Celtics   64-18  2024    64      18  0.78049
1          Denver Nuggets   57-25  2024    57      25  0.69512
2   Oklahoma City Thunder   57-25  2024    57      25  0.69512
3  Minnesota Timberwolves   56-26  2024    56      26  0.68293
4    Los Angeles Clippers   51-31  2024    51      31  0.62195

In [14]:
#Read in team nicknames
nicknames = pd.read_csv('nicknames.csv')

In [15]:
nicknames[['Abbreviation', 'Name']] = nicknames['Abbreviation,Name'].str.split(',', n=1, expand=True)
del nicknames['Abbreviation,Name']
nicknames.head(5)

  Abbreviation               Name
0          ATL      Atlanta Hawks
1          BRK      Brooklyn Nets
2          BKN      Brooklyn Nets
3          BOS     Boston Celtics
4          CHA  Charlotte Bobcats

In [16]:
#Change team names
playerData['Team'] = playerData['Tm'].map(nicknames.set_index('Abbreviation')['Name'])

In [17]:
playerData.head(5)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Team
250,A.J. Green,SG,24,MIL,56,0,11.0,1.5,3.5,0.423,...,0.2,1.0,1.1,0.5,0.2,0.1,0.2,0.9,4.5,Milwaukee Bucks
367,A.J. Lawson,SG,23,DAL,42,0,7.4,1.3,2.9,0.446,...,0.3,0.9,1.2,0.5,0.2,0.1,0.3,0.5,3.2,Dallas Mavericks
257,AJ Griffin,SF,20,ATL,20,0,8.6,0.9,3.1,0.290,...,0.1,0.8,0.9,0.3,0.1,0.1,0.4,0.3,2.4,Atlanta Hawks
245,Aaron Gordon,PF,28,DEN,73,73,31.5,5.5,9.8,0.556,...,2.4,4.1,6.5,3.5,0.8,0.6,1.4,1.9,13.9,Denver Nuggets
294,Aaron Holiday,PG,27,HOU,78,1,16.3,2.4,5.3,0.446,...,0.3,1.3,1.6,1.8,0.5,0.1,0.7,1.6,6.6,Houston Rockets

In [18]:
#Merge player and team stats
stats2024 = playerData.merge(teamData, how='outer', on=['Team'])
stats2024.head(5)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,BLK,TOV,PF,PTS,Team,Overall,Year,Wins,Losses,W%
0,AJ Griffin,SF,20,ATL,20,0,8.6,0.9,3.1,0.290,...,0.1,0.4,0.3,2.4,Atlanta Hawks,36-46,2024,36,46,0.43902
1,Bogdan Bogdanović,SG,31,ATL,79,33,30.4,6.0,13.9,0.428,...,0.3,1.4,2.3,16.9,Atlanta Hawks,36-46,2024,36,46,0.43902
2,Bruno Fernando,C,25,ATL,45,2,15.2,2.4,4.2,0.583,...,0.6,1.0,2.4,6.3,Atlanta Hawks,36-46,2024,36,46,0.43902
3,Clint Capela,C,29,ATL,73,73,25.8,4.8,8.5,0.571,...,1.5,1.0,2.2,11.5,Atlanta Hawks,36-46,2024,36,46,0.43902
4,De'Andre Hunter,SF,26,ATL,57,37,29.5,5.3,11.6,0.459,...,0.3,1.5,2.6,15.6,Atlanta Hawks,36-46,2024,36,46,0.43902

In [19]:
stats2024.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Team',
       'Overall', 'Year', 'Wins', 'Losses', 'W%'],
      dtype='object')

In [20]:
del stats2024['Overall']

In [21]:
#Check for missing values
stats2024.isna().sum().sort_values(ascending=False)

FT%       35
3P%       32
2P%        5
FG%        4
eFG%       4
BLK        0
DRB        0
TRB        0
AST        0
STL        0
Player     0
TOV        0
PF         0
PTS        0
Team       0
Year       0
Wins       0
Losses     0
ORB        0
FT         0
FTA        0
Pos        0
2PA        0
2P         0
3PA        0
3P         0
FGA        0
FG         0
MP         0
GS         0
G          0
Tm         0
Age        0
W%         0
dtype: int64

In [22]:
#Replace missing values with position medians
columns_to_fill = ['3P%', 'FT%', '2P%', 'eFG%', 'FG%']
for column in columns_to_fill:
    median_by_position_year = stats2024.groupby(['Year', 'Pos'])[column].transform('median') 
    stats2024[column].fillna(median_by_position_year, inplace=True)  
    
#Check for missing values
stats2024.isna().sum().sort_values(ascending = False)

/var/folders/gg/1408gykx50d9d1h_6m7hsl480000gn/T/ipykernel_20755/24691501.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stats2024[column].fillna(median_by_position_year, inplace=True)
/var/folders/gg/1408gykx50d9d1h_6m7hsl480000gn/T/ipykernel_20755/24691501.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stats2024[column].fillna(median_by_position_year, inplace=True)
/var/folders/gg/1408gykx50d9d1h_6m7hsl480000gn/T/ipykernel_20755/24691501.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stats2024[column].fillna(median_by_position_year, inplace=True)
/var/folders/gg/1408gykx50d9d1h_6m7hsl480000gn/T/ipykernel_20755/24691501.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stats2024[column].fillna(median_by_position_year, inplace=True)
/var/folders/gg/1408gykx50d9d1h_6m7hsl480000gn/T/ipykernel_20755/24691501.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stats2024[column].fillna(median_by_position_year, inplace=True)

Player    0
BLK       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
TOV       0
Pos       0
PF        0
PTS       0
Team      0
Year      0
Wins      0
Losses    0
FTA       0
FT        0
eFG%      0
2P%       0
2PA       0
2P        0
3P%       0
3PA       0
3P        0
FG%       0
FGA       0
FG        0
MP        0
GS        0
G         0
Tm        0
Age       0
W%        0
dtype: int64

Now that the missing values have been handled, I will create dummy variables for the position and team variables.

In [23]:
# Create dummy variables for the Pos column
position_dummies = pd.get_dummies(stats2024['Pos'],)
team_dummies = pd.get_dummies(stats2024['Team'])
stats_dummies = pd.concat([stats2024, position_dummies, team_dummies], axis=1)
stats_dummies.drop('Pos', axis=1, inplace=True)
stats_dummies.drop('Team', axis=1, inplace=True)

In [24]:
#Above average metric
average_stats = stats_dummies.groupby('Year')[['PTS', 'ORB', 'DRB', 'TRB', 'STL', 'AST', 'BLK']].transform('mean')
#Calculate the new columns by dividing player's statistics by average statistics for their year
statistics_columns = ['PTS', 'ORB', 'DRB', 'TRB', 'STL', 'AST', 'BLK']
for col in statistics_columns:
    stats_dummies[f'{col}_C'] = stats_dummies[col] / stats_dummies[col]

In [25]:
stats_dummies.columns

Index(['Player', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA',
       '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'Wins',
       'Losses', 'W%', 'C', 'C-PF', 'PF', 'PF-C', 'PF-SF', 'PG', 'PG-SG', 'SF',
       'SF-PF', 'SF-SG', 'SG', 'SG-PG', 'Atlanta Hawks', 'Boston Celtics',
       'Brooklyn Nets', 'Charlotte Hornets', 'Chicago Bulls',
       'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets',
       'Detroit Pistons', 'Golden State Warriors', 'Houston Rockets',
       'Indiana Pacers', 'Los Angeles Clippers', 'Los Angeles Lakers',
       'Memphis Grizzlies', 'Miami Heat', 'Milwaukee Bucks',
       'Minnesota Timberwolves', 'New Orleans Pelicans', 'New York Knicks',
       'Oklahoma City Thunder', 'Orlando Magic', 'Philadelphia 76ers',
       'Phoenix Suns', 'Portland Trail Blazers', 'Sacramento Kings',
       'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz',
       'Washington Wizards', 'PTS_C', 'ORB_C', 'DRB_C', 'TRB_C', 'STL_C',
       'AST_C', 'BLK_C'],
      dtype='object')

PF appears twice for personal fouls and as a dummy variable for power forward. Below, I will change personal fouls per game to fouls per game (FPG).

In [26]:
#Column Names
column_names = list(stats_dummies.columns)

#Get index
pf_index = column_names.index("PF")

#Rename first PF
column_names[pf_index] = "FPG"

#Rename columns
stats_dummies.columns = column_names

#Print updated column names
stats_dummies.columns

Index(['Player', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA',
       '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'FPG', 'PTS', 'Year', 'Wins',
       'Losses', 'W%', 'C', 'C-PF', 'PF', 'PF-C', 'PF-SF', 'PG', 'PG-SG', 'SF',
       'SF-PF', 'SF-SG', 'SG', 'SG-PG', 'Atlanta Hawks', 'Boston Celtics',
       'Brooklyn Nets', 'Charlotte Hornets', 'Chicago Bulls',
       'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets',
       'Detroit Pistons', 'Golden State Warriors', 'Houston Rockets',
       'Indiana Pacers', 'Los Angeles Clippers', 'Los Angeles Lakers',
       'Memphis Grizzlies', 'Miami Heat', 'Milwaukee Bucks',
       'Minnesota Timberwolves', 'New Orleans Pelicans', 'New York Knicks',
       'Oklahoma City Thunder', 'Orlando Magic', 'Philadelphia 76ers',
       'Phoenix Suns', 'Portland Trail Blazers', 'Sacramento Kings',
       'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz',
       'Washington Wizards', 'PTS_C', 'ORB_C', 'DRB_C', 'TRB_C', 'STL_C',
       'AST_C', 'BLK_C'],
      dtype='object')

In [27]:
stats_dummies.head(5)

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,Toronto Raptors,Utah Jazz,Washington Wizards,PTS_C,ORB_C,DRB_C,TRB_C,STL_C,AST_C,BLK_C
0,AJ Griffin,20,ATL,20,0,8.6,0.9,3.1,0.290,0.5,...,False,False,False,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Bogdan Bogdanović,31,ATL,79,33,30.4,6.0,13.9,0.428,3.0,...,False,False,False,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,Bruno Fernando,25,ATL,45,2,15.2,2.4,4.2,0.583,0.0,...,False,False,False,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,Clint Capela,29,ATL,73,73,25.8,4.8,8.5,0.571,0.0,...,False,False,False,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,De'Andre Hunter,26,ATL,57,37,29.5,5.3,11.6,0.459,2.1,...,False,False,False,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [28]:
stats_dummies.to_csv('testing2024.csv')

The predictions will in the 2024_Predictions file.